@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 47);
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85px;
    background-color: rgb(21, 21, 85);
}

.left {
    font-size: 2rem;
    font-family: 'Chakra Petch', sans-serif;

}

nav ul {
    display: flex;
}

.right ul li {
    list-style: none;
    margin: 0 23px;
    font-size: 1.5rem;
}

.right ul li a {
    text-decoration: none;
    color: white;
}

.right ul li a:hover {
    color: rgb(158 158 255);
    font-size: 1.53rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 5.2rem 0;
    align-items: center;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 3rem;


}

.leftsection button {

    padding: 1.2rem;
    font-size: 1rem;
    border: 2px solid blueviolet;
    border-radius: 19px;
    margin: 7px;
    box-shadow: 2px 3px 3px blueviolet;
    font-family: 'Alegreya Sans SC', sans-serif;

}
.container{
    margin-top: 2rem;
}

.leftsection button:hover {
    background-color: blueviolet;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

.leftsection .btn {
    padding: 36px 0;
}
.leftsection .btn a{
    text-decoration: none;
    color: black;
}

.purple {
    color: rgb(167, 74, 255);
}

#element {
    color: rgb(167, 74, 255);
}

.rightsection img {
    width: 85%;

}

.secondsection {
    max-width: 122vh;
    margin: auto;
    height: 85vh;

}

.text-gray {
    color: gray;
}

.secondsection h1 {
    font-size: 2.4rem;
}

.secondsection .box {
    width: 63vw;
    background-color: white;
    height: 1px;
    margin: 7.5rem 0;
    display: flex;


}

.box .logo1 {
    width: 50px;
    position: relative;
    top: -3.6rem;
    left: -1.5rem;
}

.box .logo1 {
    width: 50px;
    position: relative;
    top: -3.6rem;
    left: -1.5rem;
}

.about1 {
    position: relative;
    top: 2.2rem;
    left: -2.5rem;
    width: 8rem;
    font-size: 1.1rem;
}

.about-text {
    position: relative;
    top: 2.8rem;
    color: #7e7e7e;
    font-size: 0.65rem;
    width: 10rem;
    left: -3rem;
}

.secondsection .verticle {
    height: 5.25rem;
    width: 1px;
    background-color: white;
    margin: 0 7.612rem;
}

.footer {
    display: flex;
    background-color: #050525;
    padding: 4px 120px;
    justify-content: space-evenly;

}

.footer-first h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-left: 5rem;
    margin-top: 1.5rem;
    font-size: 2.5rem;

}

.footer-first img {
    width: 50vh;
    height: 40vh;
    margin-top: 1.625rem;


}

.footer-second {

    margin: 5.5rem 0.5rem;
    margin-left: 2px;
}

.footer-second ul li {
    list-style: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 1.35rem;
}

.footer-second ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    align-items: center;
    margin-left: 4rem;



}

.footer-second ul li a:hover {
    color: rgb(158 158 255);
    font-size: 1.53rem;
}

.footerrights {
    text-align: center;
    font-size: 1.1rem;

    padding: -9px;
    margin-top: -1.5rem;
}
 








main hr {
    border: 0;
    background: #cdabee;
    height: 1.4px;
    margin: 40px 84px;
}

.footer-third img {
    width: 20rem;
    position: relative;
    left: 5.4rem;
    bottom: -4rem;
}

.wrapper {

    text-align: center;

    margin-top: 2rem;
}

.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 3.5rem;
    width: 4rem;
    line-height: 59px;
    font-size: 18px;
    display: inline-block;
    align-items: center;
    box-shadow: 6 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #050525;
    text-decoration: none;
    background-color: white;
    margin-right: -39px;
    height: 3.5rem;

}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}








